<%= @meal_plan.errors.full_messages.first if @meal_plan.errors.any? %>

<div class="container">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-md-6">
        <div class="section-header">
          <div class="panel-header">
            <span class="section-header__title h2">New Meal Plan</span>
            <!-- <h2 class="section-header__title">New Meal Plan</h2> -->
          </div>
        </div>
        <div class="panel-body">
          <%= form_for(@meal_plan, url: meal_plans_create_path) do |f| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control' %></p>
                </div>
              </div>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :date %>
                  <%= f.date_field :date, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :location %>
                  <%= f.select(:location, options_for_select([['Gateway Cafe', 'gateway'], ['Hale Aloha Cafe','hale aloha']]), { prompt: 'Choose Location' }, { :class => 'form-control', :id => 'location_id'} ) %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                 <%= f.label :course %>
                 <%= f.select(:course, options_for_select([ ['Breakfast', 'breakfast'], ['Lunch', 'lunch'], ['Dinner', 'dinner'], ['Custom', 'custom'] ]), {prompt: 'Choose Course'}, {class: 'form-control', id: 'course_id'}) %>
                </div>
                <%= f.hidden_field :nutrition, class: 'nutrition_field' %>
                <%= f.submit "Submit", class: "btn pull-right" %>
              </div>
            </div>
        </div>
      </div> <!-- col-md-6 -->
      <div class="col-md-6">
        <div class='section-header'>
          <span class="section-header__title h2">Restrictions</span>
        </div>
        <h2 class="text-center">Work in Progress<h2>
      </div>
    </div> <!-- row -->
  </div> <!-- panel panel-default -->
  <div class="panel panel-default nutrition">
    <div class="row">
      <div class="section-header">
        <span class="section-header__title h2">Nutrition</span>
      </div>
      <div class="col-md-2 nutrition-values">
        <span id="nutr-calories" class="odometer">0</span><br>
        <span class="nutr-label">Calories</span>
      </div>
      <div class="col-md-2 nutrition-values">
        <span id="nutr-fat" class="odometer">0</span><br>
        <span class="nutr-label">Fat</span>
      </div>
      <div class="col-md-2 nutrition-values">
        <span id="nutr-carbs" class="odometer">0</span><br>
        <span class="nutr-label">Carbs</span>
      </div>
      <div class="col-md-2 nutrition-values">
        <span id="nutr-sodium" class="odometer">0</span><br>
        <span class="nutr-label">Sodium</span>
      </div>

      <div class="col-md-2 nutrition-values">
        <span id="nutr-sugar" class="odometer">0</span><br>
        <span class="nutr-label">Sugar</span>
      </div>
      <div class="col-md-2 nutrition-values">
        <span id="nutr-protein" class="odometer">0</span><br>
        <span class="nutr-label">Protein</span>
      </div>
    </div>
  </div>
  <div class="panel panel-default bottom-panel">
    <div class='row'>
      <div class="col-md-6">
        <div class='section-header'>
          <span class='section-header__title h2'>Chosen Dishes</span>
        </div>
        <div class="dishes">
          <%= render partial: "dish_list", locals: { chosen_dishes: @chosen_dishes } %>
        </div>
        <%= f.hidden_field :list_of_dishes, id: 'list_of_dishes' %>
        
        <% end %>
        
      </div>
      <div class='col-md-6'>
        <div class="chosen-dishes">
          <div class='section-header'>
            <span class='section-header__title h2'>Available Dishes</span>
          </div>
          <div class="available_dishes">
            <%= render partial: 'available_dishes', locals: { available_dishes: @available_dishes } %>
          </div>
          <%= link_to 'Add to Meal Plan', '#', class: 'btn add-meal-plan pull-right', id: "add_dishes_btn" %>
          <%#= link_to 'Add Custom Dish', custom_dish_path, :remote => true, class: 'btn pull-right add-custom-dish' %>
          <%= link_to 'Add Custom Dish', dishes_new_path, class:'btn pull-right' %>
        </div>
    </div>
  </div>
</div> <!-- container -->

<script>
  var calories = 0;
  var fats = 0;
  var carbs = 0;
  var list_of_dishes = [];
  
  function refresh_dish_list() {
    $.ajax({
      url: '/meal_plans/new/refresh_dish_list',
      type: 'POST',
      dataType: 'script',
      data: {
        location: $('#location_id').val(),
        course: $('#course_id').val()
      }
    });
  }

  $(document).ready(function() {

    window.odometerOptions = {
      auto: false,
      format: '(,ddd)',
      duration: 500,
      theme: 'minimal',
      animation: 'count'
    }



    $(document).on('click', 'tr.table_row', function() {
      console.log("Hit")
      // On click, add ID to array, save into global variable. Add Button at bottom of available dishes to submit
      if (list_of_dishes.indexOf($(this).children(".dish_name").attr("id")) === -1 ) {
        list_of_dishes.push($(this).children(".dish_name").attr('id'));
      }
      $(this).addClass('success');
    });

    $('#add_dishes_btn').on('click', function() {
      $.ajax({
        url: '/meal_plans/new/update_dish_list',
        type: 'GET',
        dataType: 'script',
        data: {
          data_value: list_of_dishes
        }
      });
      $('#list_of_dishes').val(list_of_dishes);
      event.preventDefault();
      $('tr.table_row').removeClass('success');

    });

    $("#location_id").on('change', refresh_dish_list);
    $("#course_id").on('change', refresh_dish_list);

  });


</script>
