<div class="jumbotron">
  <h1>New Meal Plan</h1>
</div>
<div class="row">
  <div class="col-md-6 jumbotron">
    <h1>Restrictions</h1>
    <p>Work in Progress</p>

  </div>
  <div class="col-md-4 jumbotron">
    <h1>Nutrition</h1>
    <div class="nutr-calories">
      <span id="nutr-calories" class="odometer">0</span>
      <span class="nutr-label">Calories</span>
    </div>
    <div class="nutr-fat">
      <span id="nutr-odo" class="odometer">0</span>
      <span class="nutr-label">Total Fat</span>
    </div>
    <div class="nutr-carbs">
      <span id="nutr-odo" class="odometer">0</span>
      <span class="nutr-label">Carbs</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 jumbotron">
    <%= form_for(@meal_plan, url: meal_plans_create_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :date %>
      <%= f.date_field :date %>

      <div class="chosen-dishes">
        <h3>Chosen Dishes</h3>
        <div class="dishes"></div>
      </div>

      <%= f.hidden_field :list_of_dishes %>

      <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
  <div class="col-md-4 jumbotron">
    <h2>Available Dishes</h2>
    <div class="available-dishes">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Calories</th>
          </tr>
        </thead>
        <tbody>
          <% @dishes.each do |dish| %>
            <tr>
              <th scope="row" id="<%= dish.id %>"><%= dish.name %></th>
              <td id="calories<%= dish.id %>"><%= dish.calories %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>  


<script>
  var calories = 0;
  var fats = 0;
  var carbs = 0;
  var list_of_dishes;

  $(document).ready(function() {
    $("div.available-dishes table tr").on('click', function() {
      console.log($(this));
      $(".dishes").append($(this));
      calories += parseInt($(this).text().replace(/[^\d]/g, ''), 10);
      $('#nutr-calories').text(calories)
    });
  });


</script>
