<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<div>
  <h3 style="text-align:left;">User Info</h3>
  <p>Name: <%= @user.first_name %> <%= @user.last_name%></p>
  Email: <%= @user.email_address %>
</div>

<div>
  <h3 style="text-align:left;">Meal Plans</h3>
</div>

<table>
  <tr>
    <th>Course</th>
    <th>Name</th>
    <th>Date</th>
  </tr>
  <% @meal_plans.each do |plan| %>
    <tr>
      <td>Lunch</td>
      <td><%= plan.name %></td>
      <td><%= plan.date %></td>
      <td><%= link_to "show", meal_plan_path(plan) %></td>
    </tr>
    <%= plan.inspect %>
  <% end %>
</table>