<h1>My Custom Dish Maker </h1>
<p>Fill in blanks below to continue</p>

<div class='panel-body'>
            <%= form_for(@dish) do |f| %>
            
            <div class='form-group'>
                <%#= f.label :created_at %>
                <%= f.hidden_field :created_at, class: 'form-control' %>
            </div>


            <%#= f.hidden_field :user_id, :value => current_user.id %>

            <div class='form-group'>
                <%#= f.label :updated_at %>
                <%= f.hidden_field :updated_at, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%= f.label :'calories' %>
                <%= f.text_field :calories, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%= f.label :'total_Fat (g)' %>
                <%= f.text_field :total_fat, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%= f.label :'cholesterol (mg)' %>
                <%= f.text_field :cholesterol, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%= f.label :'sodium_(mg)' %>
                <%= f.text_field :sodium, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%= f.label :'carbs_(g)' %>
                <%= f.text_field :carbs, class: 'form-control' %>
            </div>
				
			<div class='form-group'>
                <%= f.label :'suger_(g)' %>
                <%= f.text_field :suger, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%= f.label :'protein_(g)' %>
                <%= f.text_field :protein, class: 'form-control' %>
            </div>

            <div class='form-group'>
                <%#= f.label :location %>
                <%= f.hidden_field :location, class: 'form-control', :value => 'gateway' %>
            </div>

            <div class='form-group'>
                <%#= f.label :course %>
                <%#= f.text_field :course, class: 'form-control' %>
                <%#= select_tag(:course,
                      options_for_select( [ ['Breakfast', 'breakfast'], ['Lunch', 'lunch'], ['Dinner', 'dinner'] ] ), 
                     class: 'form-control', prompt: "Choose Course" ) %>
            </div>

            

              <%= f.submit "Make my dish", class: "btn" %>
              <%#= f.submit "Make my meal", class: "btn" %>
              <%#= link_to 'Test', dishes_new_path, class:'btn pull-right' %>

            <% end %>
          </div>
      </div>